body
{
    font-family: Courier;
    font-size: larger;
    color: #333f00;
    background-color: #efffe1;
    
}
#heading
{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
.emphasize
{
    color: #a70d3b;
}
.bolder
{
    font-weight: bold;
}
.deemphasize
{
    color: #833083;
}