/*fonts*/
@font-face {
    font-family: 'Cola';
    src: url(colafont.ttf);
}
/*Body*/
body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-image: linear-gradient(to bottom,#696969,#000000 );
    
}

/*header*/
header h1
{
    background-image: url('headerbg5.jpg');
    background-clip: padding-box;
    background-origin: content-box;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #EEF1EF;
    padding: 15px;
    text-shadow: 5px 3px 5px #1C2321;
    border-bottom: 10px solid #1C2321;
    border-right: 10px solid #1C2321;
    border-radius: 20px
}

/*all nav*/
nav
{
    background-image: url('nav1.jpg');
    background-position: bottom left;
    border-radius: 25px;
    overflow: hidden;
}
nav ul
{
    list-style-type: none;
    margin-top: 0;
    margin-right: 20px;
    margin-left: 0;
}
nav a
{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 3px;
    margin-left: 20px;
    color: #EEF1EF;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: small;
    
}
nav a:hover
{
    
    background-color: #fe001a;
    color: #EEF1EF;
}
nav li
{
    float: right;  
}

/*image and figure*/
#pic
{
    width: 440px;
}
figure
{
    margin: 0 0 3pc 3pc;
    padding: 15px;
    width: 440px;
    float: right;
    text-align: center;
    font-size: small;
    font-style: italic;
    box-shadow: 15px 15px 20px #1C2321
    
}

/*main content*/
main p
{
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
}
.bold
{
    font-weight: bold;
}
.cola
{
    font-family: 'Cola', Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}


footer
{
    text-align: center;
    background-color: rebeccapurple;
    color: #EEF1EF;
    font-size: smaller;
    font-family: 'Courier New', Courier, monospace;
}

#wrapper
{
    width: 900px;
    margin: 20px auto;
    padding: 5px 50px;
    background-color: #EEF1EF;
}

/*other transform*/
.end
{
    clear: both;
}

.cap
{
    text-transform: capitalize;
}